.ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
}

.ticker-text {
  animation: scrollTicker 100s linear infinite;
  display: inline-block;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
