html {
  scroll-behavior: smooth;
}

/* Styles for each section to ensure they are large enough to scroll */
.resume section {
  min-height: 100vh; /* Viewport Height - each section takes at least full window height */
  /* Additional styling for your sections */
}

/* Styles for the navbar */

/*  {
  position: fixed; 
  width: 100%;
  align-items: right;
} */

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

.navbar-item {
  margin-left: 20px; /* Space between items */
}

/* Ensure content does not hide behind the fixed navbar */
.resume body {
  padding-top: 300px /* height of your navbar */;
}

.full-width {
  width: 100%; /* Sets the width of the div to the full width of the viewport */
  color: white; /* Text color */
  text-align: left; /* Centers the text inside the div */
  /* padding: 20px 0; Adds padding above and below the text */
  font: 5rem "Roboto", sans-serif; /* Sets the font size and family */
  text-indent: 50px;
}

.full-width ul {
  list-style: none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.full-width li {
  display: block; /* Makes each li a block-level element, which stacks them vertically */
}

.full-width a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block; /* Ensures the anchors also behave as block-level, filling the full width of the li */
}

.menu-item {
  width: 100%;
  display: inline-block;
  /* padding: 1em 2em; */
  text-align: left;
  color: white;
  background: black; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, black 50%, magenta 50%) right;
  background-size: 200%;
}

.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-position: left;
}
