html {
  scroll-behavior: smooth;
}

/* Styles for each section to ensure they are large enough to scroll */
.resume section {
  min-height: 100vh; /* Viewport Height - each section takes at least full window height */
  /* Additional styling for your sections */
}

/* Styles for the navbar */
nav {
  position: fixed; /* Keeps the navbar at the top */
  width: 100%;
  align-items: right;
  /* Additional styling for your navbar */
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

.navbar-item {
  margin-left: 20px; /* Space between items */
}

/* Ensure content does not hide behind the fixed navbar */
.resume body {
  padding-top: 300px /* height of your navbar */;
}
